
    <% @sliders.each do |slider| %>
          <div class ="slider">
        <%= slider.name %>
        <%= slider.descriptiong %>
        <%= slider.descriptiond %>
        <%= image_tag slider.picture.url(:thumb) %>
      </div>
    <% end %>
