<p id="notice"><%= notice %></p>

<h1>Listing Sliders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descriptiong</th>
      <th>Descriptiond</th>
      <th>Picture</th>
    </tr>
  </thead>

  <tbody>
